<% const themeCustom = _.settings.theme.custom || '' %>
<% if (themeCustom !== 'ecom-beauty') { %>
  <div class="ecom-credits d-flex align-items-center justify-content-center">
    <a href="https://www.alpix.dev?ref=vapordiscos" >
      <img
        src="https://www.alpix.dev/wp-content/uploads/2022/04/logo_w.svg"
        alt="Agência Alpix"      
      >
    </a>
  </div>
<% } %>
